<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ "/assets/javascript/topojson.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/d3.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascript/government-types-map.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="layer-select__wrapper">
      <label for="layer-select" class="layer-select__label">Layer:</label>
      <select class="layer-select toggle" id="layer-select">
        <option value="Policy Board" class="layer-select__option">Policy Board</option>
        <option value="Legislative Body" class="layer-select__option">Legislative Body</option>
        <option value="Chief Municipal Official" class="layer-select__option">Chief Municipal Offiical</option>
      </select>
    </div>
    <svg class="government-form-map" viewBox="0 0 900 700"></svg>
  </body>
</html>
